/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

/*nawigacja */

nav {
    max-width: 1440px;
    margin: 30px auto;
    text-align: right;
}

nav a {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: crimson;
    padding: 10px;
    margin: 0 20px;
}

nav a.reservation {
    padding: 10px 30px;
    border: 2px solid crimson;
    margin-right: 50px;
    margin-left: 80px;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

nav a:hover {
    border-bottom: 2px solid darkred;
    color: darkred;
}

nav a.reservation:hover {
    border-color: darksalmon;
    background-color: darksalmon;
    transition: 0.1s
}


/* header */

header {
    height: 40vh;
    background-image: url(../projects/highheels.jpg);
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0, 0, 0, 25%);
    color: lightyellow;
    letter-spacing: 2px;
}

/*main*/

main {
    max-width: 1440px;
    margin: 5vh auto;
}

main section {
    font-size: 0px;
    text-align: center;
}

main p.description {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 30px 50px 30px;
    line-height: 180%;
}

main div.feature {
    display: inline-block;
    width: 30%;
}

main div.image {
    height: 200px;
    background-color: plum;
    margin: 20px 30px;
}

main div.image:hover {
    background-color: darksalmon;
    transition: 0.2s;
}

main h2 {
    font-size: 2rem;
    text-align: center;
}

/*footer*/

footer {
    background-color: darkslategrey;
}

footer p {
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5em;
}